.Intro-section{
  background-image: url("../../../assets/img/mepco-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.tajwal-font{
  font-family: 'Tajawal', sans-serif;
}
.waves{
  cursor: pointer;
  border-color: rgba(245, 222, 179, 0);
}